---
---

@import 'https://fonts.googleapis.com/css?family=Risque|Sansita+One';

body {
	width: 100vw;
	height: 100vh;
}

.card {
	width: 1085px;
	height: 635px;
	background-color: grey;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.trim {
	width: 1050px;
	height: 600px;
	border: 1px black solid;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

h1 {
	font-family: 'Risque', cursive;
	font-size: 70px;
}

.name {
	font-family: 'Sansita One', cursive;
}
