---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Lobster|Farsan|Noto+Sans|Open+Sans';

// Our variables
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$heading-font-family: "Lobster", sans-serif;
$site-nav-font-family: "Noto Sans", sans-serif;

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$background-color:			$grey-color-light;

$primary-color:				#6e6b6c;
$primary-color-dark:		darken($primary-color, 10%);
$primary-color-light:		lighten($primary-color, 10%);

$accent-color:				#eb5795;
$accent-color-dark:			darken($accent-color, 10%);
$accent-color-light:		lighten($accent-color, 10%);

$header-logo-width: 125px;
$header-logo-height: 224px;

$menu-background-color:		#fafafa;
$card-background-color:		#1c1c1c;

$text-color:	  				#000;
$light-text-color:				#fff;

$primary-text: 0.87;
$secondary-text: 0.54;
$disabled-text: 0.38;

$active-icon: 0.54;
$inactive-icon: 0.38;

$primary-light-text: 1;
$secondary-light-text: 0.7;
$disabled-light-text: 0.5;

$active-light-icon: 1;
$inactive-light-icon: 0.5;

$divider: 0.12;

$heading-color:					$grey-color;
$footer-text-color:				$grey-color;

$shadow-color:					rgba(0, 0, 0, 0.5);


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$small-desktop: 768px;
$medium-desktop: 992px;
$large-desktop: 1200px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
 	"layout",
	"pages/index";
