---
---
@import 'https://fonts.googleapis.com/css?family=Farsan|Lobster|Open+Sans';

$grey-color: #666;
$logo-background-color: #fdeaf6;
$menu-background-color: white;

@media all {
	#menu {
		margin: 20px;
		padding: 0 40px;
		border: 5px pink solid;
	}
}

@media print {

	html,
	body,
	#menu {
		margin: 0;
		padding: 0;
		border: none;
	}

	.page {
		page-break-after: always;
		page-break-before: always;
		page-break-inside: avoid;
		width: 100vw;
		height: 100vh;
		box-sizing: border-box;
		padding: 0 40px;
		margin: 0;
		border: 5px pink solid;
	}
}


body {
	font-family: 'Open Sans', sans-serif;
}

@import "pages/menu";
