---
---
@import 'https://fonts.googleapis.com/css?family=Graduate|Lobster|Open+Sans';

$logo-background-color: #fdeaf6;
$menu-background-color: white;

$accent-color:				#eb5795;
$accent-color-dark:			darken($accent-color, 10%);
$accent-color-light:		lighten($accent-color, 10%);

$logo-text-color:			#9c0054;
$lil-debbie-color:			$accent-color;
$salvo-color:				#795548;

$text-color: 				#000;

$primary-text: 0.87;
$secondary-text: 0.54;
$disabled-text: 0.38;

$menu-primary-font-family: 'Open Sans', sans-serif;
$menu-heading-font-family: 'Lobster', cursive;
$menu-accent-font-family: 'Graduate', cursive;


html,
body,
#menu {
	margin: 0;
	padding: 0;
	border: none;
}

@import "pages/menu";
