---
title: Food
layout: section
order: 1
---
{% if site.data.food_specials %}
<section id="food-specials">
	{% for food_special in site.data.food_specials %}
	<div class="food-special">
		<div class="food-special-details">
			<span class="name">{{ food_special.name }}</span>
		{% if food_special.price %}
			<span class="price">${% include price.html price=food_special.price %}</span>
		{% endif %}
		{% if food_special.desc %}
			<p class="desc">{{ food_special.desc | markdownify }}</p>
		{% endif %}
		</div>
		{% if food_special.type %}
		<span class="type">{{ food_special.type }}</span>
		{% endif %}
	</div>
	{% endfor %}
</section>
{% endif %}

<section id="image-menu-item-lists">
	<nav class="tabs">
		<ul>
			<li><a class="tab-link active" href="#burgers">Burgers</a></li>
			<li><a class="tab-link" href="#chicken-sandwiches">Chicken Sandwiches</a></li>
			<li><a class="tab-link" href="#other-sandwiches">Other Sandwiches</a></li>
			<li><a class="tab-link" href="#fryer">Fryer</a></li>
			<li><a class="tab-link" href="#soup">Soup</a></li>
		</ul>
	</nav>
	<section class="content">
		{% include menu-item-list.html active=true name="Burgers" id="burgers" items=site.data.burgers %}
		{% include menu-item-list.html name="Chicken Sandwiches" id="chicken-sandwiches" items=site.data.chicken_sandwiches %}
		{% include menu-item-list.html name="Other Sandwiches" id="other-sandwiches" items=site.data.other_sandwiches %}
		{% include menu-item-list.html name="From the Fryer" id="fryer" items=site.data.fryer %}
		{% include menu-item-list.html name="Soup" id="soup" items=site.data.soup %}
	</section>
</section>

<div id="inline-menu-container">
	<section id="menu" class="inline-menu collapsed">
		{% include menu/menu.html %}
	</section>
	<div class="standalone-link-container">
		<button type="button" id="show-menu" class="button outline accent">
			Show full menu
		</button>

		<a class="button outline" href="/menu.pdf">
			PDF
			{% include images/pdf.svg %}
		</a>
	</div>
</div>
