---
title: Food
layout: section
order: 1
---
{% include image-menu-item-list.html name="Burgers" id="burgers" items=site.data.burgers %}
{% include image-menu-item-list.html name="Chicken Sandwiches" id="chicken-sandwiches" items=site.data.chicken_sandwiches %}
{% include image-menu-item-list.html name="Other Sandwiches" id="other-sandwiches" items=site.data.other_sandwiches %}
{% include image-menu-item-list.html name="From the Fryer" id="fryer" items=site.data.fryer %}
{% include image-menu-item-list.html name="Soup" id="soup" items=site.data.soup %}

<div id="menu" class="inline-menu">
	{% include menu/menu.html %}
</div>
