{
	"presets": [
		["env", {
			"targets": {
				"browsers": [
					"> 1%",
					"last 2 versions"
				]
			},
			"useBuiltIns": true,
			"debug": true,
			"modules": false
		}],
		"react"
	],
	"plugins": [
		"styled-jsx/babel",
		["transform-react-jsx", {"pragma": "h"}],
		"syntax-dynamic-import",
		"object-values-to-object-keys"
	]
}
