---
layout: default
carousel_images:
  - /images/external/front.jpg
  - /images/bar/coyotes.jpg
  - /images/food/dank-fries.jpg
  - /images/bar/best-burger.jpg
  - /images/external/patio.jpg
  - /images/food/basket-ultimate.jpg
  - /images/bar/rail.jpg
  - /images/bar/beer-bottles.jpg
---
<section class="carousel" data-flickity='{"wrapAround": true, "autoPlay": true}'>
{% for image in page.carousel_images %}
	<div class="carousel-image" style="background-image: url({{ image }});"></div>
{% endfor %}
</section>

{% assign sections = site.sections | sort: "order" %}
{% for section in sections %}
	{{ section }}
{% endfor %}
