---
layout: default
carousel_images:
  - /images/external/front.jpg
  - /images/bar/coyotes.jpg
  - /images/food/dank-fries.jpg
  - /images/bar/best-burger.jpg
  - /images/external/patio.jpg
  - /images/food/basket-ultimate.jpg
  - /images/bar/rail.jpg
  - /images/bar/beer-bottles.jpg
---
<section class="carousel">
	<div class="carousel-overlay">
		<div class="row">
			<div class="column hero-text">
				<p>
					If you're looking for a great meal, a place to hang out
					and watch the game, or somewhere to go out with your friends
					Lil' Debbie's Coyote Grill is just what you're looking for!
				</p>
			</div>
			<div class="column hero-button">
				<a href="#find-us" class="button outline accent">Pay us a visit →</a>
			</div>
		</div>
	</div>
{% for image in page.carousel_images %}
	<div class="carousel-image" style="background-image: url({{ image }});"></div>
{% endfor %}
</section>

{% assign sections = site.sections | sort: "order" %}
{% for section in sections %}
	{{ section }}
{% endfor %}
