---
layout: menu
---
<div class="page">
	<header>
		<h1><span class="supertitle">Lil' Debbie's</span> Coyote Grill</h1>
		{% include menu/address.html %}
	</header>

	{% include menu/menu-item-group.html title="Salvo Burgers (&frac14; lb.) & Lil' Debbie Burgers (&frac12; lb.)" dataset=site.data.burgers %}
	{% include menu/menu-item-group.html title="Chicken Sandwiches" dataset=site.data.chicken_sandwiches %}
	{% include menu/inline-menu-item-group.html title="Extras" dataset=site.data.extras %}

	<footer>
		<p>
			Monthly Burger Specials<br />
			All sandwiches come with handful of chips and pickle spear<br />
			Lettuce, tomato, and onions available upon request
		</p>
	</footer>
</div>
<div class="page">
	<header>
		<h1><span class="supertitle">Lil' Debbie's</span> Coyote Grill</h1>
	</header>

	<div class="row">
		<div class="column">
			{% include menu/menu-item-group.html title="Other Sandwiches" dataset=site.data.other_sandwiches %}
			{% include menu/menu-item-group.html title="Soup" dataset=site.data.soup %}
		</div>
		<div class="column">
			{% include menu/menu-item-group.html title="From the Fryer" dataset=site.data.fryer %}
		</div>
	</div>
	{% include menu/menu-item-group.html title="Baskets" dataset=site.data.baskets %}

	<footer>
		<p>
			Daily lunch specials <span class="middot">&middot;</span> Happy Hour 4-7 daily <span class="middot">&middot;</span> Nightly drink specials<br />
			Grill open until 10pm <span class="middot">&middot;</span> Fryer open until 1am<br />
			Undercooked meats can be hazardous to your health
		</p>
	</footer>
</div>
