---
layout: null
---
<!DOCTYPE html>
<html>
	<head>
		{% include head-metadata.html %}
		<style>
			html, body {
				height: 100%;
				padding: 0;
				margin: 0;
			}

			html.locked {
				height: 100vh;
				overflow: hidden !important;
				touch-action: none !important;
			}

			#promotions {
				min-height: 100vh;
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				background-color: rgba(0, 0, 0, 0.75);
			}
		</style>

		{% include head-shared.html %}
	</head>

	<body>
		<main id="promotions">

		</main>
		<script src="/js/manifest.js"></script>
		<script src="/js/promotions-deps.js"></script>
		<script src="/js/promotions.js"></script>
	</body>
</html>
