<footer class="site-footer">
	<figure class="site-footer-photo">
		<picture id="coyote-grill-external" class="day-picture">
			<source srcset="/images/front-wide.jpg" media="(min-width: {{ site.media.medium_desktop }}px)" />
			<img src="/images/front.jpg" alt="External view of Coyote Grill during the daytime" />
		</picture>
		<fieldset id="coyote-grill-external-switch" class="switch-toggle switch-candy">
			<input type="radio" id="external-day" name="coyote-grill-external-switch" value="day" checked />
			<label for="external-day">Day</label>

			<input type="radio" id="external-night" name="coyote-grill-external-switch" value="night" />
			<label for="external-night">Night</label>
			<a></a>
		</fieldset>
	</figure>
</footer>
