html {
	line-height: 1.35;
}

body {
	background-color: $background-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: rgba($text-color, $primary-text);
	margin: 0;
}

@import "includes/index";
