html {
	line-height: 1.35;
}

body {
	background-color: $background-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: rgba($text-color, $primary-text);
	margin: 0;
}

.button {
	display: inline-block;
	background-color: $primary-color;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	padding: 0.5em 1em;
	margin: 0.5em;
	line-height: 1.4;
	cursor: pointer;
	outline: none;

	&.accent {
		background-color: $accent-color;
	}

	&.alt-accent {
		background-color: $logo-text-color;
	}


	&.outline {
		background-color: transparent;
		border: 1px solid $primary-color;
		color: $primary-color;

		&:hover {
			background-color: $primary-color;
			color: #fff;
		}
	}

	&.accent.outline {
		border: 1px solid $accent-color;
		color: $accent-color;

		&:hover {
			background-color: $accent-color;
			color: #fff;
		}
	}

	&.alt-accent.outline {
		border: 1px solid $logo-text-color;
		color: $logo-text-color;

		&:hover {
			background-color: $logo-text-color;
			color: #fff;
		}
	}
}

.lead,
.standalone-link-container {
	text-align: center;
	margin: 2em 0;
	font-size: 1.25em;
}

.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

%row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;

	.column {
		box-sizing: border-box;
		flex-grow: 1;
		flex-shrink: 0;
		width: 400px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}


@import "includes/index";
