header.site-header {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	min-height: 75px;
	z-index: 20;
	color: rgba($light-text-color, $primary-light-text);
	pointer-events: all;
	transition-duration: 0.3s;
	transition-property: padding, font-size;

	@media (max-width: $incredibly-small-screen) {
		font-size: 0.9em;
	}

	@media (min-width: $very-small-screen) {
		font-size: 1.25em;
		padding: 0 1em;
	}

	@media (min-width: $large-desktop) {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		padding: 0 1em 0.2em;
	}


	&.collapsed {
		background-color: $accent-color-light;
		border-bottom: 1px solid $accent-color;
		box-shadow: 0 0 4px 0 $shadow-color;

		@include header-height(height);
	}

	nav.site-nav {

		@media (min-width: $large-desktop) {
			margin: 0 0 0 0.5em;
		}
	}

	&.expanded {

		@media (min-width: $small-desktop) {
			padding: 0 1em;
			font-size: 1.5em;
		}

		@media (min-width: $medium-desktop) {
			padding: 0 1.5em;
			font-size: 1.65em;
		}

		@media (min-width: $large-desktop) {
			padding: 0 2em;
			font-size: 1.8em;
		}

		nav.site-nav {

			@media (min-width: $large-desktop) {
				margin: 0;
			}
		}
	}

	.site-title {
		font-family: $heading-font-family;
		font-size: 1.15em;
		font-weight: normal;
		margin: 0;
		padding: 0 0.1em;

		@media (min-width: $very-small-screen) {
			font-size: 1.35em;
		}

		@media (min-width: $small-desktop) {
			font-size: 1.6em;
		}

		@media (min-width: $medium-desktop) {
			font-size: 1.8em;
		}

		a {
			color: rgba($light-text-color, $primary-light-text);
			text-decoration: none;

			&:hover {
				text-shadow: 0 0 5px rgba(white, 0.25);
			}
		}
	}

	nav.site-nav {
		font-family: $site-nav-font-family;
		font-size: 0.8em;
		padding: 0 0.25em;

		// @media (min-width: $very-small-screen) {
		// 	font-size: 1em;
		// }

		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: 1em;
			padding: 0;
			margin: 0;
			margin: 0 0 0 -0.5em;

			li {
				font-size: 1em;
				margin: 0.1em 0.5em;

				@media (min-width: $large-desktop) {
					margin: 0.5em;
				}

				a {
					color: rgba($light-text-color, $primary-light-text);
					text-decoration: none;

					&:visited {
						color: rgba($light-text-color, $secondary-light-text);
					}

					&:hover {
						text-shadow: 0 0 5px rgba(white, 0.25);
					}
				}
			}
		}
	}
}
