header.site-header {
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	min-height: 75px;
	z-index: 10;
	color: rgba($light-text-color, $primary-light-text);
	padding: 0 1em;
	font-size: 1.25em;
	transition-duration: 0.3s;
	transition-property: padding, font-size;

	&.collapsed {
		background-color: $accent-color-light;
	}

	&.expanded {

		@media (min-width: $small-desktop) {
			padding: 0 2em;
			font-size: 1.75em;
		}
	}

	.site-title {
		font-family: $heading-font-family;
		font-size: 1.5em;
		font-weight: normal;
		margin: 0;

		@media (min-width: $small-desktop) {
			font-size: 2em;
		}
	}

	nav.site-nav {
		font-family: $site-nav-font-family;

		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: 1em;
			padding: 0;
			margin: 0 0 0 -0.5em;

			li {
				font-size: 1em;
				margin: 0.5em;

				@media (min-width: $small-desktop) {
					margin: 0.5 1em;
				}

				a {
					color: rgba($light-text-color, $primary-light-text);
					text-decoration: none;

					&:visited {
						color: rgba($light-text-color, $secondary-light-text);
					}

					&:hover {
						color: rgba(lighten($light-text-color, 5%), $primary-light-text);
						font-weight: bold;
					}
				}
			}
		}
	}
}
