@import "../vendor/flickity";

main {

	.full-width-photo {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 500px;

		picture,
		source,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h2 {
		text-align: center;
		font-family: $heading-font-family;
		color: rgba($logo-text-color, $primary-text);
		font-weight: normal;
		font-size: 2.5em;
	}

	#promotions {

		&::before {
			content: '';
			display: block;
			position: relative;
			width: 0;

			@include header-height(height);

			@include header-height(margin-top, -1);
		}

		@include header-height(padding-bottom);
	}

	.section {
		margin: 0 0 2em;

		&:last-child {
			margin: 0;
		}

		&::before {
			content: '';
			display: block;
			position: relative;
			width: 0;

			@include header-height(height);

			@include header-height(margin-top, -1);
		}

		> .row {

			@extend %row;
		}
	}
}

@import "../sections/index";
