@import "../imports/flickity";

main {

	.carousel {
		width: 100%;

		.carousel-image {
			width: 100%;
			height: 500px;
			background-size: cover;
			background-position: center;
			margin-right: 1em;

			@media (min-width: $small-desktop) {
				width: 80%;
			}
		}
	}

	.full-width-photo {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 500px;

		picture,
		source,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.section {
		margin: 0 0 2em;

		> h2 {
			text-align: center;
			font-family: $heading-font-family;
			color: rgba($logo-text-color, $primary-text);
			font-weight: normal;
			font-size: 2em;
		}

		> .row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: stretch;

			.column {
				flex-grow: 1;
				flex-shrink: 0;
				width: 400px;
				max-width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;

				> * {
					padding: 2em;
				}
			}
		}
	}
}

@import "../sections/index";
