#menu {
	font-family: $menu-primary-font-family;

	@media print {

		.page {
			box-sizing: border-box;
			page-break-after: always;
			page-break-before: always;
			page-break-inside: avoid;
			width: 100vw;
			height: 100vh;
			margin: 0;

			.page-content {
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				padding: 0 40px;
				margin: 0;
				border: 5px $accent-color-light solid;
			}
		}
	}

	.page {
		background: $menu-background-color;

		.page-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: rgba($text-color, $primary-text);

			header {

				figure {

					#coyote-grill-logo {
						width: 100%;
						display: block;
						margin: 0 auto;
						height: 9.5em;
					}
				}
			}

			h1 {
				padding: 0;
				margin: 0;
				margin-top: 40px;
				font-family: $menu-heading-font-family;
				font-weight: 100;
				font-size: 4em;
				text-align: center;
				transform: translateX(-100px);

				.supertitle {
					display: inline-block;
					font-size: 0.75em;
					font-family: $menu-accent-font-family;
					text-transform: none;
					transform: translate(100px, -50px) rotate(-10deg);
				}
			}

			h2 {
				color: rgba($logo-text-color, $primary-text);
				font-family: $menu-heading-font-family;
				font-weight: 100;
				font-size: 1.5em;
				margin: 0 0 0.1em;
			}

			h3 {
				font-family: $menu-accent-font-family;
				font-size: 1.2em;
				font-weight: 400;
			}

			p,
			small {
				text-align: center;
			}

			.row {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin: 0;

				.column {
					width: 300px;
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					margin: 0 1em;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					.menu-section {

						& + .menu-section {
							margin-top: 0.25em;
						}
					}
				}
			}

			small {
				display: block;
				margin: 0.25em 0 0.5em;
			}

			footer {
				margin: 0.5em 0;
				text-align: center;
				font-size: 0.9em;

				p {
					margin: 0;
				}
			}

			address {
				text-align: center;
				font-size: 0.9em;

				wbr {
					display: inline-block;
					margin: 0 0.5em;
				}
			}

			figure.lil-debbie {
				fill: $lil-debbie-color;
			}

			figure.salvo {
				fill: $salvo-color;
			}

			.burger-type-description {
				text-align: center;
				font-size: 0.8em;

				figure {
					margin: 0;

					svg {
						vertical-align: middle;
						width: 3em;
						height: 3em;
					}

					figcaption {
						font-family: sans-serif;
					}
				}

				p {
					margin: 0;
					font-size: 0.9em;
				}
			}

			.menu-section {

				header {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					justify-content: space-between;

					@media (max-width: $menu-mobile-breakpoint) {
						flex-direction: column;
						justify-content: center;
					}

					.menu-item-group-label {
						display: flex;
						justify-content: center;
						margin: 0;
						padding: 0 0.25em 0 0;
						list-style: none;
						font-size: 0.8em;

						li {
							flex-shrink: 1;
							margin: 0;
							display: inline-block;

							& + li {
								margin-left: 0.85em;
							}

							figure {
								margin: 0;
								width: 2em;
								height: 2em;

								svg {
									width: 2em;
									height: 2em;
								}
							}
						}
					}
				}

				.menu-item-group {
					list-style: none;
					font-size: 0.75em;
					padding: 0;
					margin: 0;

					.menu-item {
						display: flex;
						flex-wrap: wrap;
						flex-direction: column;
						align-items: center;
						justify-content: space-around;
						padding: 0;
						overflow: hidden;
						margin-left: 0;
						margin-right: -5px;
						max-width: 100%;

						&:not(:last-child) {
							margin-bottom: 1em;
						}

						@media (min-width: $menu-mobile-breakpoint) {
							flex-direction: row;
							align-items: flex-end;

							&:not(:last-child) {
								margin-bottom: 0.25em;
							}

							&::before {
								color: rgba($text-color, $secondary-text);
								width: 0;
								white-space: nowrap;
								content: "..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
							}

						}

						h3 {
							max-width: 100%;
							padding-right: 0.35em;
							margin: 0;
							line-height: 1;
							background: $menu-background-color;
							display: inline-block;
							text-align: center;
						}

						.desc-container {
							flex-grow: 1;

							.desc {
								color: rgba($text-color, $secondary-text);
								display: none;
								background: $menu-background-color;
								padding: 0 0.25em;
								font-size: 0.9em;

								&.show-inline-desc {
									display: inline;
								}
							}
						}

						> .price,
						> .prices {
							flex-shrink: 0;
							background: $menu-background-color;
							padding-right: 2px;

							@media(min-width: $menu-mobile-breakpoint) {
								padding-left: 1em;
							}
						}

						> .prices {
							box-sizing: border-box;
							list-style: none;
							padding-left: 0;

							.price {
								display: inline-block;
								text-align: right;

								& + .price {
									margin-left: 0.5em;
									width: 2.5em;
								}

								span + span {
									margin-left: 0.25em;
								}
							}
						}
					}

					.menu-item-block-desc {
						color: rgba($text-color, $secondary-text);
						font-size: 0.9em;
						margin: 0 1em;
						display: none;

						&.show-block-desc {
							display: block;
						}

						@media (max-width: $menu-mobile-breakpoint) {
							text-align: center;
						}
					}
				}

				.inline-menu-item-group {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					margin: 0;
					padding: 0;

					.inline-menu-item {
						flex-grow: 0;
						flex-shrink: 0;
						list-style: none;
						font-size: 0.9em;
					}
				}
			}
		}
	}
}
