<article class="page">
	<div class="page-content">
		<header>
			<figure>
				{% include images/coyote-grill-logo.svg %}
				<figcaption>
					{% include menu/address.html %}
				</figcaption>
			</figure>
		</header>

		<div>
			{% include menu/menu-item-group.html title="Burgers" subtitle="⅓-pound burgers" dataset=site.data.burgers %}
		</div>
		<div>
			{% include menu/menu-item-group.html title="Chicken Sandwiches" subtitle="Grilled chicken breast served on hamburger bun or white toast" dataset=site.data.chicken_sandwiches %}
		</div>

		<p>All sandwiches served with pickle spear and your choice of pub chips, fries, or coleslaw</p>

		<footer>
			<p>
				Lettuce, tomato, and onions available upon request<br />
				* Undercooked meats can be hazardous to your health
			</p>
		</footer>
	</div>
</article>

<article class="page">
	<div class="page-content">
		<header>
			<figure>
				{% include images/coyote-grill-logo.svg %}
			</figure>
		</header>

		<div class="row">
			<div class="column">
				{% include menu/menu-item-group.html title="Other Sandwiches" dataset=site.data.other_sandwiches %}
				{% include menu/menu-item-group.html title="Soup" dataset=site.data.soup %}
			</div>
			<div class="column">
				{% include menu/menu-item-group.html title="From the Fryer" dataset=site.data.fryer %}
			</div>
		</div>

		<p>All sandwiches served with pickle spear and your choice of pub chips, fries, or coleslaw</p>

		{% include menu/menu-item-group.html title="Baskets" dataset=site.data.baskets %}
		{% include menu/inline-menu-item-group.html title="Extras" dataset=site.data.extras %}

		<footer>
			<p>
				Grill open until 10pm <span class="middot">&middot;</span> Fryer open until 1am
			</p>
		</footer>
	</div>
</article>
