<li class="menu-item">
	<h3>{{ include.item.name }}</h3>
	<div class="desc-container">
		<p class="desc {% unless include.item.block_desc %} show-inline-desc {% endunless %}">
			{{ include.item.desc }}
		</p>
	</div>
{% if include.item.price %}
	<span class="price">{% include price.html price=include.item.price %}</span>
{% elsif include.item.prices %}
	<ul class="prices">
		{% for price in include.item.prices %}
		<li class="price">
			{% if price.name %}
				{% if price.name != previous_name %}
			<span>
				{{ price.name }}<br />
			</span>
				{% endif %}
			{% include price.html price=price.price %}
				{% assign previous_name = price.name %}
			{% else %}
			{% include price.html price=price %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
{% endif %}
</li>
<li class="menu-item-block-desc {% if include.item.block_desc %} show-block-desc {% endif %}">
	{{ include.item.desc }}
</li>
