<article class="page">
	<div class="page-content">
		<header>
			<figure>
				{% include images/coyote-grill-logo.svg %}
				<figcaption>
					{% include menu/address.html %}
				</figcaption>
			</figure>
		</header>

{% capture lil_debbie_icon %}
<figure class="lil-debbie">
	{% include images/cowgirl-boot.svg %}
</figure>
{% endcapture %}

{% capture salvo_icon %}
<figure class="salvo">
	{% include images/cowboy-hat.svg %}
</figure>
{% endcapture %}

{% capture burger_labels %}
<ul class="menu-item-group-label">
	<li>{{ lil_debbie_icon }}</li>
	<li>{{ salvo_icon }}</li>
</ul>
{% endcapture %}
		<div>
			{% include menu/menu-item-group.html title="Lil' Debbie Burgers & Salvo Burgers*" labels=burger_labels dataset=site.data.burgers %}
			<div class="row">
				<div class="column">
					<aside class="burger-type-description">
						<figure class="lil-debbie">
							{% include images/cowgirl-boot.svg %}
							<figcaption>
								Lil' Debbie Burger
							</figcaption>
						</figure>
						<p>
							&frac14; pound patty on hamburger bun or white toast.
						</p>
					</aside>
				</div>
				<div class="column">
					<aside class="burger-type-description">
						<figure class="salvo">
							{% include images/cowboy-hat.svg %}
							<figcaption>
								Salvo Burger
							</figcaption>
						</figure>
						<p>
							&frac12; pound patty on bakery roll or texas toast.
						</p>
					</aside>
				</div>
			</div>
		</div>
		<div>
			{% include menu/menu-item-group.html title="Chicken Sandwiches" dataset=site.data.chicken_sandwiches %}
			<small>Grilled chicken breast served on hamburger bun or white toast.</small>
		</div>

		<p>All sandwiches served with pickle spear and your choice of pub chips, fries, or coleslaw</p>

		<footer>
			<p>
				Lettuce, tomato, and onions available upon request<br />
				* Undercooked meats can be hazardous to your health
			</p>
		</footer>
	</div>
</article>

<article class="page">
	<div class="page-content">
		<header>
			<figure>
				{% include images/coyote-grill-logo.svg %}
			</figure>
		</header>

		<div class="row">
			<div class="column">
				{% include menu/menu-item-group.html title="Other Sandwiches" dataset=site.data.other_sandwiches %}
			</div>
			<div class="column">
				{% include menu/menu-item-group.html title="From the Fryer" dataset=site.data.fryer %}
			</div>
		</div>

		<p>All sandwiches served with pickle spear and your choice of pub chips, fries, or coleslaw</p>

		{% include menu/menu-item-group.html title="Baskets" dataset=site.data.baskets %}
		{% include menu/inline-menu-item-group.html title="Extras" dataset=site.data.extras %}

		<footer>
			<p>
				Grill open until 9pm <span class="middot">&middot;</span> Fryer open until close
			</p>
		</footer>
	</div>
</article>
