.menu-item-group {

	h3 {
		color: rgba($logo-text-color, $primary-text);
		font-family: $heading-font-family;
		font-weight: normal;
		text-align: center;
		font-size: 2em;
	}

	.menu-item-list {
		$label-background-color: white;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		padding: 1em;

		.menu-list-item {
			margin: 1em 1.5em;
			width: 200px;
			transition: width 0.5s;

			img {
				width: 200px;
				height: 200px;
				object-fit: cover;
				border: 3px solid $logo-text-color;
				border-radius: 100%;
				transition: border-radius 0.5s;

				&:hover {
					box-shadow: 0 0 5px 0 $shadow-color;
				}
			}

			.name {
				display: block;
				font-family: $heading-font-family;
				color: rgba($accent-color, $primary-text);
				font-size: 1.15em;
				width: 100%;
				text-align: center;
			}

			.details {

				.desc {
					text-align: center;
				}
			}

			&.active {
				width: calc(400px + 2em);

				img {
					border-radius: 2px;
				}

				.details {
					display: block;
				}
			}
		}
	}
}
