.image-menu-item-list {
	$label-background-color: white;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 1em;

	.image-menu-item {
		margin: 1em;
		width: 200px;

		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
			cursor: pointer;
			border: 3px solid $logo-text-color;
			border-radius: 100%;
			transition: border-radius 1s;

			&:hover {
				box-shadow: 0 0 5px 0 $shadow-color;
				border-radius: 2px;
			}
		}

		.name {
			display: block;
			font-family: $alt-font-family;
			font-size: 1.15em;
			width: 100%;
			text-align: center;
		}
	}
}
