<!DOCTYPE html>
<html class="no-js">

	{% include head.html %}

	<body>
		{% include hero.html %}

		<main class="page-content">
			{{ content }}
		</main>

		{% include footer.html %}

{% if page.scripts %}
	{% for script in page.scripts %}
		<script src="{{ script }}"></script>
	{% endfor %}
{% endif %}
		<script src="/js/manifest.js"></script>
		<script src="/js/bundle.js"></script>
		<script src="/js/promotions-deps.js"></script>
		<script src="/js/promotions-homepage.js"></script>
	</body>

</html>
