@import "../vendor/toggle-switch";

#find-us {

	#map {
		box-sizing: border-box;
		height: 500px;
		width: 100%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	h2 {

	}

	@supports (display: grid) {
		dl {
			margin: 2em 10%;
			display: grid;
			justify-content: center;
			grid-template-columns: 3fr 1fr;
			grid-row-gap: 1em;
			grid-column-gap: 1em;
		}

		dt {
			font-weight: bold;
		}
	}

	address {
		text-align: center;
		font-style: italic;
		line-height: 2em;
	}

	.row {

		.column {
			padding: 2em;
		}
	}
}
