#food {

	#food-specials {
		display: flex;
		justify-content: space-around;
		margin: 4em 0;

		.food-special {
			width: 400px;
			flex-shrink: 1;
			margin: 2em;
			text-align: center;

			.food-special-details {
				margin: 0 0 1em;
				padding: 1em;
				border: 1px solid rgba(0, 0, 0, $divider);
				background: #fff;
				transition: box-shadow 1s 0.5s;
				pointer-events: none;

				&.revealed {
					box-shadow: 0 10px 20px 0 rgba(0, 0, 0, $divider);
					pointer-events: auto;
				}

				.name {
					display: block;
					font-size: 1.6em;
					font-family: $heading-font-family;
					color: rgba($accent-color, $primary-text);
				}

				.price {
					display: block;
					font-size: 1.5em;
					margin: 0.5em 0;
					font-weight: bold;
				}

				.desc {

				}
			}

			.food-special-details.revealed + .type {

				&::before {
					left: 0;
					right: 0;
				}
			}

			.type {
				position: relative;
				overflow: hidden;
				display: block;
				font-family: $alt-font-family;
				font-weight: bold;
				text-transform: capitalize;
				font-size: 1.75em;
				color: rgba($logo-text-color, $primary-text);
				margin: 1em 0 0;
				padding: 0.5em 0;

				&::before {
					content: "";
					position: absolute;
					z-index: -1;
					left: 50%;
					right: 50%;
					top: 0;
					background: rgba($logo-text-color, $active-icon);
					height: 2px;
					transition: 0.5s 0.5s ease-out;
					transition-property: left, right;
				}
			}
		}
	}

	#image-menu-item-lists {
		padding: 0 2em;

		.tabs {
			font-size: 1.5em;

			ul {
				list-style: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				padding: 0;
				text-align: center;

				li {
					margin: 0 1em 0.5em;
					padding: 0.5em;
					border-bottom: 1px solid rgba($primary-color, $divider);

					a {
						font-family: $heading-font-family;
						color: rgba($primary-color, $secondary-text);
						text-decoration: none;

						&:hover,
						&:active {
							color: rgba($primary-color, $primary-text);
						}

						&.active {
							color: rgba($text-color, $primary-text);

							&:hover,
							&:active {
								color: rgba($text-color, $secondary-text);
							}
						}
					}
				}
			}
		}

		.content {
			max-height: 600px;
			width: 100%;
			margin: 0 auto;
			overflow: auto;

			@media (min-width: $very-small-screen) {
				width: 80%;
			}

			> * {
				display: none;

				&.active {
					display: block;
					border: 1px solid rgba($primary-color, $divider);
					background-color: $menu-background-color;
				}
			}
		}
	}

	#inline-menu-container {
		// display: none;

		#menu.inline-menu {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: stretch;

			&.collapsed {
				display: none;
			}

			.page {
				flex-grow: 1;
				flex-shrink: 0;
				width: 750px;
				max-width: 100%;
				page-break-inside: avoid;
				box-sizing: border-box;
				margin: 10px;
				font-size: 0.8em;

				.page-content {
					box-sizing: border-box;
					width: calc(100% - 60px);
					height: calc(100% - 60px);
					padding: 0 40px;
					margin: 30px;
					border: 5px $accent-color-light solid;

					@media (max-width: $small-desktop) {

						.row {
							flex-wrap: wrap;

							.column {
								margin: 0;
							}
						}
					}

					.menu-section {

						.menu-item-group {

							.menu-item {

								.desc-container {

									.desc.show-inline-desc {
										display: none;
									}
								}
							}

							.menu-item-block-desc {
								display: block;

								& + .menu-item {
									margin-top: 0.25em;
								}
							}
						}
					}
				}
			}
		}
	}
}
