#food {

	#image-menu-item-lists {
		padding: 0 2em;

		.tabs {
			font-size: 1.5em;

			ul {
				list-style: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				padding: 0;

				li {
					margin: 0 1em 0.5em;

					a {
						font-family: $heading-font-family;
						color: rgba($logo-text-color, $primary-text);
						text-decoration: none;

						&:hover,
						&:active {
							text-decoration: underline;
						}

						&.active {
							color: rgba($text-color, $primary-text);
						}
					}
				}
			}
		}

		.content {

			> * {
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}

	#menu.inline-menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;

		.page {
			flex-grow: 1;
			flex-shrink: 0;
			width: 557px;
			max-width: 100%;
			page-break-after: always;
			page-break-before: always;
			page-break-inside: avoid;
			box-sizing: border-box;
			margin: 10px;
			font-size: 0.8em;

			.page-content {
				box-sizing: border-box;
				width: calc(100% - 60px);
				height: calc(100% - 60px);
				padding: 0 40px;
				margin: 30px;
				border: 5px $accent-color-light solid;

				@media (max-width: $small-desktop) {

					.row {
						flex-wrap: wrap;

						.column {
							margin: 0;
						}
					}
				}

				.menu-section {

					.menu-item-group {

						.menu-item {

							.desc-container {

								.desc.show-inline-desc {
									display: none;
								}
							}
						}

						.menu-item-block-desc {
							display: block;

							& + .menu-item {
								margin-top: 0.25em;
							}
						}
					}
				}
			}
		}
	}
}
